@import '../scss/index.scss';

$radius: 3px;

body {
  background: $dark-blue;
  overflow-y: auto;
  padding: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: $light-blue;
}

.form-container {
  flex: 1;
  max-width: 400px;
  background: lighten($dark-blue, 5%);
  border-radius: $radius;
}

.form-content {
  padding: 20px;

  ::placeholder {
    color: lighten($dark-blue, 15%);
  }
}

.header {
  font-size: 20px;
  background: lighten($dark-blue, 10%);
  display: flex;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid lighten($dark-blue, 2%);
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  padding-left: 20px;
}

.input {
  border-radius: $radius;
  border: 1px solid darken($dark-blue, 5%);
  background: $dark-blue;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  color: lighten($dark-blue, 60%);
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .error {
    color: $red;
  }

  .success {
    color: $green;
  }
}

.button {
  background: $blue;
  color: $light-blue;
  cursor: pointer;
  border-radius: $radius;
  border: 1px solid darken($blue, 5%);
  padding: 8px;

  &:hover {
    background: lighten($blue, 5%);
  }
}

.label {
  font-size: 12px;
  margin-bottom: 5px;
  color: $blue--lighter;
}

:focus {
  outline: none;
  box-shadow: 0 1px 5px darken($blue, 15%);
}
